<div class="list-group">

   <a href="{{ url_for('usuarios') }}" class="list-group-item list-group-item-action">
    Usuários
</a>

    <a href="#" class="list-group-item list-group-item-action">
        💻 Equipamentos
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        🎫 Chamados TI
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📦 Almoxarifado
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📊 Relatórios
    </a>

</div>
