<!DOCTYPE html>
<html>
<head>
    <title>Novo Produto</title>
</head>
<body>

<h1>Novo Produto</h1>

<form action="/cadastrar" method="POST">

    <input type="text" name="nome" placeholder="Nome" required>
    <br><br>

    <input type="number" name="quantidade" placeholder="Quantidade" required>
    <br><br>

    <input type="text" name="lote" placeholder="Lote">
    <br><br>

    <label>Fabricação</label>
    <input type="date" name="fabricacao">
    <br><br>

    <label>Validade</label>
    <input type="date" name="validade">
    <br><br>

    <button type="submit">Cadastrar</button>

</form>

</body>
</html>
