{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h3>Usuários</h3>

        <a href="#" class="btn btn-primary">
            Novo Usuário
        </a>
    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Perfil</th>
                <th width="180">Ações</th>
            </tr>
        </thead>

        <tbody>

        {% for u in usuarios %}

            <tr>

                <td>{{ u[0] }}</td>
                <td>{{ u[1] }}</td>
                <td>{{ u[2] }}</td>
                <td>{{ u[3] }}</td>

                <td>

                    <a href="#" class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a href="#" class="btn btn-danger btn-sm">
                        Excluir
                    </a>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
