{% extends "base.html" %}

{% block conteudo %}

<div class="container mt-4">

<h3>Editar Usuário</h3>

<form method="POST">

<div class="mb-3">
<label>Nome</label>
<input
class="form-control"
name="nome"
value="{{ usuario[1] }}"
required>
</div>

<div class="mb-3">
<label>Usuário</label>
<input
class="form-control"
name="usuario"
value="{{ usuario[2] }}"
required>
</div>

<div class="mb-3">
<label>Perfil</label>

<select
class="form-control"
name="perfil">

<option {% if usuario[3]=='ADMIN' %}selected{% endif %}>ADMIN</option>

<option {% if usuario[3]=='TECNICO' %}selected{% endif %}>TECNICO</option>

<option {% if usuario[3]=='USUARIO' %}selected{% endif %}>USUARIO</option>

</select>

</div>

<button class="btn btn-success">
Salvar
</button>

<a href="/usuarios" class="btn btn-secondary">
Cancelar
</a>

</form>

</div>

{% endblock %}
