{% extends "base.html" %}

{% block conteudo %}

<div class="container mt-4">

<h2>Editar Usuário</h2>

<form method="POST">

<div class="mb-3">

<label>Nome</label>

<input
type="text"
name="nome"
class="form-control"
value="{{ usuario[1] }}"
required>

</div>

<div class="mb-3">

<label>Usuário</label>

<input
type="text"
name="usuario"
class="form-control"
value="{{ usuario[2] }}"
required>

</div>

<div class="mb-3">

<label>Perfil</label>

<select
name="perfil"
class="form-control">

<option
{% if usuario[3]=='ADMIN' %}selected{% endif %}>
ADMIN
</option>

<option
{% if usuario[3]=='TECNICO' %}selected{% endif %}>
TECNICO
</option>

<option
{% if usuario[3]=='USUARIO' %}selected{% endif %}>
USUARIO
</option>

</select>

</div>

<button class="btn btn-primary">

Salvar Alterações

</button>

<a href="{{ url_for('usuarios') }}" class="btn btn-secondary">

Cancelar

</a>

</form>

</div>

{% endblock %}
